
# Ignore byte-compiled Python files.
*.py?

# Ignore Vim swapfiles.
*.sw?

# Ignore test coverage files.
.coverage

# Ignore databases.
*.db

# Ignore VirtualEnv subdirectory named "webapp-boilerplate-venv".
webapp-boilerplate-venv
