{% extends "main_layout.html" %}
{% block content %}
  <h3>Please register.</h3>
  <form method="post" action="">
    <p>{{ form.user.label }}: {{ form.user }}</p>
    <p>{{ form.email.label }}: {{ form.email }}</p>
    <p>{{ form.password.label }}: {{ form.password }}</p>
    <p>{{ form.confirm.label }}: {{ form.confirm }}</p>
    <p><input type="submit" value="Registered"/></p>
  </form>
  <p><em>Already registered?</em> Click <a href="{{ url_for('login') }}">here</a> to login.</p>
{% endblock %}
